{% extends "../details_page.html" %}
{% block nav-cars %}<a class="nav-link active" href="/cars">Cars</a>{% endblock %}
{% block left-header %}
    <img src="/static/images/car.png" class="entity-image">
    <h4 class="entity-title pb-4">{{ car.make }} {{ car.model }} <a href="{{ car.id }}/edit"><i class="far fa-edit"></i></a></h4>
{% endblock %}
{% block left-content %}
    <div class="detail-head">Series/Year</div> <div class="detail-body">{{ car.series }}/{{ car.series_year }}</div>
    <div class="detail-head">Price</div> <div class="detail-body">${{ car.price }}</div>
    <div class="detail-head">Seats</div> <div class="detail-body">{{ car.seats }}</div>
    <div class="detail-head">Engine Size</div> <div class="detail-body">{{ car.enginesize }}</div>
    <div class="detail-head">Fuel System</div> <div class="detail-body">{{ car.fuelsystem }}</div>
    <div class="detail-head">Tank Capacity</div> <div class="detail-body">{{ car.tankcapacity }}</div>
    <div class="detail-head">Power</div> <div class="detail-body">{{ car.power }}</div>
    <div class="detail-head">Standard Transmission</div> <div class="detail-body">{{ car.standardtransmission }}</div>
    <div class="detail-head">Body Type</div> <div class="detail-body">{{ car.bodyType }}</div>
    <div class="detail-head">Drive</div> <div class="detail-body">{{ car.drive }}</div>
    <div class="detail-head">Wheel Base</div> <div class="detail-body">{{ car.wheelbase }}</div>
{% endblock %}
{% block right-content %}
    <h3>Transactions</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Customer</th>
                    <th>Store</th>
                    <th>Date/Time</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions_page_obj.object_list %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td><a href="/customers/{{ transaction.customer.id }}">{{ transaction.customer.name }}</a></td>
                    <td><a href="/stores/{{ transaction.store.id }}">{{ transaction.store|stringformat:"s" }}</a></td>
                    <td>{{ transaction.time }}</td>
                    <td>{{ transaction.get_type_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "../transaction_sub_pagination.html" %}
{% endblock %}