{% extends "../base.html" %}
{% block nav-stores %}<a class="nav-link active" href="/stores">Stores</a>{% endblock %}

{% block content %}
<div class="px-2 d-flex mt-auto align-items-center justify-content-between">
    <h3 class="pl-4 pt-2">Stores</h3>
    <a href="/stores/create"><button class="btn btn-primary mr-3" style="height: 38px;">Create</button></a>
</div>
    {% if store_list %}
        <div class="table-responsive pl-4 pr-4 pt-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Store Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                {% for store in store_list %}
                    <tr>
                        <td>{{ store.id }}</td>
                        <td><a href="stores/{{ store.id }}">{{ store.name }}</a></td>
                        <td>{{ store.address }}</td>
                        <td>{{ store.city }}</td>
                        <td>{{ store.get_state_display }}</td>
                        <td>{{ store.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "../pagination.html" %}
    {% else %}
        <p>No stores are available.</p>
    {% endif %}
{% endblock %}
