.form-area {
    margin-top: 30vh;
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
}

.login-background {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.login-main {
    background: url('/static/images/slider.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.errorsection {
    height: 2em;
    color: red;
    text-align: center;
}

.entity-title {
    text-align: center;
}

.entity-image {
    padding-top: 1em;
    padding-bottom: 0.5em;
    width: 9em;
}

.entity-left-header {
    text-align: center;
}

.entity-left-content {
    text-align: left;
    padding-left: 15px; 
    word-break: break-word;
}

@media (min-width: 768px) {
    .entity-left-div {
        width: 320px !important;
        position: absolute;
        overflow: auto;
        top: 56px;
        bottom: 0;
        left: 0;
        display: block;
        height: calc(100% - 56px);
    }

    .entity-right-div {
        position: relative;
        float: right;
        width: calc(100% - 320px);;
        min-height: calc(100% - 56px);
    }
}

.entity-left-inner {
    max-width: 420px;
    margin: auto;
}

.entity-right-inner {
    padding-top: 15px;
    padding-left: 15px;
}

.entity-left-div {
    width: 100%;
    background-color: #dcdcdc;
    text-align: center;
}

.page-content {
    min-height: calc(100vh - 56px);
}

.detail-head {
    font-weight: 700;
    font-size: 1.3em;
}

.detail-body {
    font-size: 1.05em;
    padding-bottom: 1em;
}

.pag-button {
    height: 2.5em;
    width: 2.5em;
}