{% extends "../base.html" %}
{% block nav-customers %}<a class="nav-link active" href="/customers">Customers</a>{% endblock %}

{% block content %}
<div class="px-2 d-flex mt-auto align-items-center justify-content-between">
    <h3 class="pl-4 pt-2">Customers</h3>
    <a href="/customers/create"><button class="btn btn-primary mr-3" style="height: 38px;">Create</button></a>
</div>
    {% if customer_list %}
        <div class="table-responsive pl-4 pr-4 pt-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Birthday</th>
                        <th>Occupation</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customer_list %}
                    <tr>
                        <td><a href="customers/{{ customer.id }}">{{ customer.id }}</a></td>
                        <td><a href="customers/{{ customer.id }}">{{ customer.name }}</a></td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.birthday }}</td>
                        <td>{{ customer.get_occupation_display }}</td>
                        <td>{{ customer.get_gender_display }}</td>
                        <td><a href="customers/{{ customer.id }}/edit"><i class="far fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "../pagination.html" %}
    {% else %}
        <p>No customers are available.</p>
    {% endif %}
{% endblock %}
