{% extends "../base.html" %}
{% block nav-stores %}<a class="nav-link active" href="/stores">Stores</a>{% endblock %}

{% block content %}
<h3 class="pl-4 pt-2">Stores</h3>
    {% if store_list %}
        <div class="table-responsive pl-4 pr-4 pt-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Store Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                {% for store in store_list %}
                    <tr>
                        <td>{{ store.id }}</td>
                        <td><a href="stores/{{ store.id }}">{{ store.name }}</a></td>
                        <td>{{ store.address }}</td>
                        <td>{{ store.phone }}</td>
                        <td>{{ store.city }}</td>
                        <td>{{ store.get_state_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
        <div class="d-flex justify-content-end">
            {% if page_obj.has_previous %}
                <div><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></div>
            {% else %}
                <div class="disabled"><span>&laquo;</span></div>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <div class="active">
                        <span>{{ i }}<span class="sr-only">(current)</span></span>
                    </div>
                {% elif page_obj.number == i|add:-1 or page_obj.number == i|add:1%}
                    <div><a href="?page={{ i }}">{{ i }}</a></div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <div><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></div>
            {% else %}
                <div class="disabled"><span>&raquo;</span></div>
            {% endif %}
        </div>
        {% endif %}
    {% else %}
        <p>No stores are available.</p>
    {% endif %}
{% endblock %}
